<form class="new-post-form">
  <h2>New Post</h2>
  <h4>Title</h4>
  <input class="title-input" name="post[title]">
  <h4>Body</h4>
  <textarea class="body-input" name="post[body]"></textarea>
  <button class="submit-form">Submit!</button>
</form>
